[run]
omit =
    venv/*
    analyse_finale.py
    check_db.py
    check_tables.py
    check_users.py
    create_admin.py
    debug_500.py
    delete_admin.py
    diagnostic.py
    fix_all_routers.py
    fix_warnings.py
    get_token.py
    manual_test_fastapi.py
    repair_database.py
    update_database.py
    models/models.py
    test_dashboard.py
    test_dashboard_pdf.py
    test_direct_simple.py
    test_final_login.py
    test_login.py
    test_login_endpoints.py
    test_quick.py
    tests/fix_all_schemas.py
    tests/test_conformite_complet.py
    init_db_safe.py