# ==================== ENVIRONNEMENT ====================
ENV=local

# ==================== BASES DE DONNÉES ====================
DATABASE_URL_LOCAL=postgresql+psycopg2://admin:admin@localhost:5432/inchtechs_db
DATABASE_URL_DOCKER=postgresql+psycopg2://admin:admin@db:5432/inchtechs_db
DATABASE_URL_RENDER=postgresql+psycopg2://admin:admin@host:port/inchtechs_db

# ==================== SÉCURITÉ JWT ====================
SECRET_KEY=ta_clé_secrète_ici
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=7

# ==================== SESSION ====================
SESSION_SECRET_KEY=ta_clé_session_ici

# ==================== EMAIL (Brevo) ====================
BREVO_API_KEY=ta_cle_brevo_ici