--
-- PostgreSQL database dump
--

-- Dumped from database version 16.1
-- Dumped by pg_dump version 16.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: user_roles; Type: TYPE; Schema: public; Owner: admin
--

CREATE TYPE public.user_roles AS ENUM (
    'admin',
    'researcher',
    'visitor'
);


ALTER TYPE public.user_roles OWNER TO admin;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: academic_careers; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.academic_careers (
    id integer NOT NULL,
    year integer NOT NULL,
    title_formation character varying(255) NOT NULL,
    diplome character varying(255),
    description text,
    created_at timestamp without time zone,
    updated_at timestamp without time zone,
    profile_id integer NOT NULL
);


ALTER TABLE public.academic_careers OWNER TO admin;

--
-- Name: academic_careers_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.academic_careers_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.academic_careers_id_seq OWNER TO admin;

--
-- Name: academic_careers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.academic_careers_id_seq OWNED BY public.academic_careers.id;


--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO admin;

--
-- Name: audits; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.audits (
    id integer NOT NULL,
    user_id integer NOT NULL,
    user_role character varying(20) NOT NULL,
    action_description character varying(500) NOT NULL,
    date timestamp without time zone
);


ALTER TABLE public.audits OWNER TO admin;

--
-- Name: audit_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.audit_logs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.audit_logs_id_seq OWNER TO admin;

--
-- Name: audit_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.audit_logs_id_seq OWNED BY public.audits.id;


--
-- Name: comments; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.comments (
    id integer NOT NULL,
    created_at timestamp with time zone,
    content text NOT NULL,
    user_id integer NOT NULL,
    project_id integer,
    publication_id integer
);


ALTER TABLE public.comments OWNER TO admin;

--
-- Name: comments_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.comments_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.comments_id_seq OWNER TO admin;

--
-- Name: comments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.comments_id_seq OWNED BY public.comments.id;


--
-- Name: contact_messages; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.contact_messages (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    email character varying(100) NOT NULL,
    message text NOT NULL,
    created_at timestamp without time zone,
    is_read integer,
    recipient_user_id integer
);


ALTER TABLE public.contact_messages OWNER TO admin;

--
-- Name: contact_messages_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.contact_messages_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.contact_messages_id_seq OWNER TO admin;

--
-- Name: contact_messages_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.contact_messages_id_seq OWNED BY public.contact_messages.id;


--
-- Name: cours; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.cours (
    id integer NOT NULL,
    profile_id integer,
    title character varying(255),
    description character varying(500),
    curricula character varying(255)
);


ALTER TABLE public.cours OWNER TO admin;

--
-- Name: courses_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.courses_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.courses_id_seq OWNER TO admin;

--
-- Name: courses_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.courses_id_seq OWNED BY public.cours.id;


--
-- Name: degrees; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.degrees (
    id integer NOT NULL,
    profile_id integer,
    title character varying(200) NOT NULL,
    institution character varying(200) NOT NULL,
    year integer NOT NULL,
    description text,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.degrees OWNER TO admin;

--
-- Name: degrees_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.degrees_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.degrees_id_seq OWNER TO admin;

--
-- Name: degrees_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.degrees_id_seq OWNED BY public.degrees.id;


--
-- Name: distinctions; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.distinctions (
    id integer NOT NULL,
    profile_id integer,
    year integer,
    title character varying(255),
    description character varying(500)
);


ALTER TABLE public.distinctions OWNER TO admin;

--
-- Name: distinctions_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.distinctions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.distinctions_id_seq OWNER TO admin;

--
-- Name: distinctions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.distinctions_id_seq OWNED BY public.distinctions.id;


--
-- Name: experiences; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.experiences (
    id integer NOT NULL,
    profile_id integer,
    title character varying(200) NOT NULL,
    company character varying(200) NOT NULL,
    start_date date NOT NULL,
    end_date date,
    description text,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.experiences OWNER TO admin;

--
-- Name: experiences_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.experiences_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.experiences_id_seq OWNER TO admin;

--
-- Name: experiences_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.experiences_id_seq OWNED BY public.experiences.id;


--
-- Name: languages; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.languages (
    id integer NOT NULL,
    profile_id integer,
    language character varying(50) NOT NULL,
    level character varying(50) NOT NULL,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.languages OWNER TO admin;

--
-- Name: languages_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.languages_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.languages_id_seq OWNER TO admin;

--
-- Name: languages_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.languages_id_seq OWNED BY public.languages.id;


--
-- Name: media_artefacts; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.media_artefacts (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    url character varying(500) NOT NULL,
    created_at timestamp without time zone,
    updated_at timestamp without time zone,
    profile_id integer,
    description text
);


ALTER TABLE public.media_artefacts OWNER TO admin;

--
-- Name: media_artefacts_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.media_artefacts_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.media_artefacts_id_seq OWNER TO admin;

--
-- Name: media_artefacts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.media_artefacts_id_seq OWNED BY public.media_artefacts.id;


--
-- Name: messages; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.messages (
    id integer NOT NULL,
    profile_id integer,
    sender_email character varying(100) NOT NULL,
    message character varying(1000) NOT NULL,
    sender_name character varying(100) NOT NULL,
    created_at timestamp without time zone
);


ALTER TABLE public.messages OWNER TO admin;

--
-- Name: messages_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.messages_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.messages_id_seq OWNER TO admin;

--
-- Name: messages_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.messages_id_seq OWNED BY public.messages.id;


--
-- Name: profiles; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.profiles (
    id integer NOT NULL,
    user_id integer NOT NULL,
    first_name character varying(50),
    last_name character varying(50),
    gender character varying(10),
    grade character varying(50),
    specialite character varying(100),
    diplome character varying(100),
    description character varying(500),
    profile_picture text,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now(),
    email text,
    linkedin text,
    whatsapp text,
    twitter text,
    github text,
    bio text,
    cv_url character varying(500)
);


ALTER TABLE public.profiles OWNER TO admin;

--
-- Name: profiles_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.profiles_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.profiles_id_seq OWNER TO admin;

--
-- Name: profiles_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.profiles_id_seq OWNED BY public.profiles.id;


--
-- Name: projects; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.projects (
    id integer NOT NULL,
    profile_id integer NOT NULL,
    year integer NOT NULL,
    title character varying(255) NOT NULL,
    coauthor jsonb DEFAULT '[]'::jsonb NOT NULL,
    description text,
    budget numeric(10,2),
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.projects OWNER TO admin;

--
-- Name: projects_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.projects_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.projects_id_seq OWNER TO admin;

--
-- Name: projects_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.projects_id_seq OWNED BY public.projects.id;


--
-- Name: publications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.publications (
    id integer NOT NULL,
    profile_id integer NOT NULL,
    year integer NOT NULL,
    title character varying(500) NOT NULL,
    coauthor jsonb DEFAULT '[]'::jsonb NOT NULL,
    journal character varying(300),
    doi character varying(100),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.publications OWNER TO postgres;

--
-- Name: publications_id_seq1; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.publications_id_seq1
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.publications_id_seq1 OWNER TO postgres;

--
-- Name: publications_id_seq1; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.publications_id_seq1 OWNED BY public.publications.id;


--
-- Name: refresh_tokens; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.refresh_tokens (
    id integer NOT NULL,
    user_id integer,
    token character varying,
    created_at timestamp without time zone,
    revoked boolean,
    expires_at timestamp without time zone
);


ALTER TABLE public.refresh_tokens OWNER TO admin;

--
-- Name: refresh_tokens_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.refresh_tokens_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.refresh_tokens_id_seq OWNER TO admin;

--
-- Name: refresh_tokens_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.refresh_tokens_id_seq OWNED BY public.refresh_tokens.id;


--
-- Name: soft_skills; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.soft_skills (
    id integer NOT NULL,
    profile_id integer,
    skill_name character varying(100) NOT NULL,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.soft_skills OWNER TO admin;

--
-- Name: soft_skills_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.soft_skills_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.soft_skills_id_seq OWNER TO admin;

--
-- Name: soft_skills_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.soft_skills_id_seq OWNED BY public.soft_skills.id;


--
-- Name: subscriptions; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.subscriptions (
    id integer NOT NULL,
    profile_id integer,
    start_date character varying(20),
    end_date character varying(20),
    type character varying(50),
    payment_method character varying(50)
);


ALTER TABLE public.subscriptions OWNER TO admin;

--
-- Name: subscriptions_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.subscriptions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.subscriptions_id_seq OWNER TO admin;

--
-- Name: subscriptions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.subscriptions_id_seq OWNED BY public.subscriptions.id;


--
-- Name: technical_skills; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.technical_skills (
    id integer NOT NULL,
    profile_id integer,
    skill_name character varying(100) NOT NULL,
    level integer NOT NULL,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.technical_skills OWNER TO admin;

--
-- Name: technical_skills_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.technical_skills_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.technical_skills_id_seq OWNER TO admin;

--
-- Name: technical_skills_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.technical_skills_id_seq OWNED BY public.technical_skills.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.users (
    id integer NOT NULL,
    email character varying NOT NULL,
    password character varying NOT NULL,
    role character varying NOT NULL,
    status character varying(20) DEFAULT 'inactive'::character varying NOT NULL,
    is_active boolean DEFAULT false,
    activation_code character varying(100) DEFAULT NULL::character varying,
    slug character varying(100)
);


ALTER TABLE public.users OWNER TO admin;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO admin;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: academic_careers id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.academic_careers ALTER COLUMN id SET DEFAULT nextval('public.academic_careers_id_seq'::regclass);


--
-- Name: audits id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.audits ALTER COLUMN id SET DEFAULT nextval('public.audit_logs_id_seq'::regclass);


--
-- Name: comments id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.comments ALTER COLUMN id SET DEFAULT nextval('public.comments_id_seq'::regclass);


--
-- Name: contact_messages id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.contact_messages ALTER COLUMN id SET DEFAULT nextval('public.contact_messages_id_seq'::regclass);


--
-- Name: cours id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.cours ALTER COLUMN id SET DEFAULT nextval('public.courses_id_seq'::regclass);


--
-- Name: degrees id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.degrees ALTER COLUMN id SET DEFAULT nextval('public.degrees_id_seq'::regclass);


--
-- Name: distinctions id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.distinctions ALTER COLUMN id SET DEFAULT nextval('public.distinctions_id_seq'::regclass);


--
-- Name: experiences id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.experiences ALTER COLUMN id SET DEFAULT nextval('public.experiences_id_seq'::regclass);


--
-- Name: languages id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.languages ALTER COLUMN id SET DEFAULT nextval('public.languages_id_seq'::regclass);


--
-- Name: media_artefacts id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.media_artefacts ALTER COLUMN id SET DEFAULT nextval('public.media_artefacts_id_seq'::regclass);


--
-- Name: messages id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.messages ALTER COLUMN id SET DEFAULT nextval('public.messages_id_seq'::regclass);


--
-- Name: profiles id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.profiles ALTER COLUMN id SET DEFAULT nextval('public.profiles_id_seq'::regclass);


--
-- Name: projects id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.projects ALTER COLUMN id SET DEFAULT nextval('public.projects_id_seq'::regclass);


--
-- Name: publications id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.publications ALTER COLUMN id SET DEFAULT nextval('public.publications_id_seq1'::regclass);


--
-- Name: refresh_tokens id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.refresh_tokens ALTER COLUMN id SET DEFAULT nextval('public.refresh_tokens_id_seq'::regclass);


--
-- Name: soft_skills id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.soft_skills ALTER COLUMN id SET DEFAULT nextval('public.soft_skills_id_seq'::regclass);


--
-- Name: subscriptions id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.subscriptions ALTER COLUMN id SET DEFAULT nextval('public.subscriptions_id_seq'::regclass);


--
-- Name: technical_skills id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.technical_skills ALTER COLUMN id SET DEFAULT nextval('public.technical_skills_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: academic_careers; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.academic_careers (id, year, title_formation, diplome, description, created_at, updated_at, profile_id) FROM stdin;
\.


--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.alembic_version (version_num) FROM stdin;
eb5bffec4c29
\.


--
-- Data for Name: audits; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: comments; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.comments (id, created_at, content, user_id, project_id, publication_id) FROM stdin;
\.


--
-- Data for Name: contact_messages; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: cours; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.cours (id, profile_id, title, description, curricula) FROM stdin;
2	1	Développement Web	Cours de développement web moderne	Informatique
\.


--
-- Data for Name: degrees; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: distinctions; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.distinctions (id, profile_id, year, title, description) FROM stdin;
\.


--
-- Data for Name: experiences; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.experiences (id, profile_id, title, company, start_date, end_date, description, created_at) FROM stdin;
1	3	Développeur Full-Stack	Tech Solutions	2024-01-01	2025-12-31	Développement d’applications web avec React et FastAPI	2026-04-26 00:56:44.183976
2	3	Developpeur Web	INTECHS	2025-05-05	2025-07-31	ras	2026-04-26 02:22:52.072374
4	28	technicien 	inchtechs	2026-06-22	2026-08-03	technicien en sécurité informatique	2026-06-22 12:42:48.524567
8	27	Ingénieur en IG	Incthechs	2025-01-01	2026-06-22	Fin de stage professionnelle	2026-06-22 16:04:42.851949
\.


--
-- Data for Name: languages; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.languages (id, profile_id, language, level, created_at) FROM stdin;
1	3	Français	Langue maternelle	2026-04-26 00:56:44.183976
2	3	Anglais	Courant (C1)	2026-04-26 00:56:44.183976
3	3	Allemand	50	2026-04-26 02:21:48.2844
7	28	français	100	2026-06-22 12:43:03.871546
8	28	Anglais	20	2026-06-22 12:43:21.302676
24	27	Français	courant	2026-06-25 12:22:32.712796
25	27	Chinois	débutant	2026-06-25 12:22:45.849647
26	27	Arabe	natif	2026-06-25 12:23:01.527097
27	27	Turc	intermédiaire	2026-06-25 12:23:17.674374
\.


--
-- Data for Name: media_artefacts; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.media_artefacts (id, name, url, created_at, updated_at, profile_id, description) FROM stdin;
\.


--
-- Data for Name: messages; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: profiles; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: projects; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: publications; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.publications (id, profile_id, year, title, coauthor, journal, doi, created_at) FROM stdin;
3	3	2025	Next.js pour les débutants	["Brice Parfait"]	Dev Magazine	\N	2026-04-26 00:48:22.684154
4	3	2026	Projet Portfolio	["Arnaud Chabifor"]	Journal	10.1234/test.2024.001	2026-04-26 00:51:40.593521
5	28	2026	coupe du monde 2026	["eva"]	Journal	10.1234/test.2024.001	2026-06-22 12:47:13.26469
10	27	2026	Publication sur les chercheurs	[]			2026-07-03 12:48:33.875188
11	27	2026	attestation  de travail	[]	Journal	10.1234/test.2024.001	2026-07-03 12:48:33.875188
\.


--
-- Data for Name: refresh_tokens; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: soft_skills; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: subscriptions; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.subscriptions (id, profile_id, start_date, end_date, type, payment_method) FROM stdin;
4	1	2025-01-01	2026-01-01	Premium	Visa
1	1	2026-03-30	2026-04-29	Premium	PayPal
7	3	2026-01-01	2026-04-09	Standard	Virement
\.


--
-- Data for Name: technical_skills; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Name: academic_careers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.academic_careers_id_seq', 1, false);


--
-- Name: audit_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.audit_logs_id_seq', 1766, true);


--
-- Name: comments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.comments_id_seq', 1, false);


--
-- Name: contact_messages_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.contact_messages_id_seq', 8, true);


--
-- Name: courses_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.courses_id_seq', 85, true);


--
-- Name: degrees_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.degrees_id_seq', 11, true);


--
-- Name: distinctions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.distinctions_id_seq', 1, true);


--
-- Name: experiences_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.experiences_id_seq', 9, true);


--
-- Name: languages_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.languages_id_seq', 27, true);


--
-- Name: media_artefacts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.media_artefacts_id_seq', 1, false);


--
-- Name: messages_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.messages_id_seq', 10, true);


--
-- Name: profiles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.profiles_id_seq', 35, true);


--
-- Name: projects_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.projects_id_seq', 10, true);


--
-- Name: publications_id_seq1; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.publications_id_seq1', 11, true);


--
-- Name: refresh_tokens_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.refresh_tokens_id_seq', 583, true);


--
-- Name: soft_skills_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.soft_skills_id_seq', 17, true);


--
-- Name: subscriptions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.subscriptions_id_seq', 7, true);


--
-- Name: technical_skills_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.technical_skills_id_seq', 42, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.users_id_seq', 40, true);


--
-- Name: academic_careers academic_careers_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.academic_careers
    ADD CONSTRAINT academic_careers_pkey PRIMARY KEY (id);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: audits audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.audits
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (id);


--
-- Name: comments comments_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.comments
    ADD CONSTRAINT comments_pkey PRIMARY KEY (id);


--
-- Name: contact_messages contact_messages_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.contact_messages
    ADD CONSTRAINT contact_messages_pkey PRIMARY KEY (id);


--
-- Name: cours courses_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.cours
    ADD CONSTRAINT courses_pkey PRIMARY KEY (id);


--
-- Name: degrees degrees_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.degrees
    ADD CONSTRAINT degrees_pkey PRIMARY KEY (id);


--
-- Name: distinctions distinctions_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.distinctions
    ADD CONSTRAINT distinctions_pkey PRIMARY KEY (id);


--
-- Name: experiences experiences_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.experiences
    ADD CONSTRAINT experiences_pkey PRIMARY KEY (id);


--
-- Name: languages languages_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.languages
    ADD CONSTRAINT languages_pkey PRIMARY KEY (id);


--
-- Name: media_artefacts media_artefacts_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.media_artefacts
    ADD CONSTRAINT media_artefacts_pkey PRIMARY KEY (id);


--
-- Name: messages messages_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_pkey PRIMARY KEY (id);


--
-- Name: profiles profiles_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.profiles
    ADD CONSTRAINT profiles_pkey PRIMARY KEY (id);


--
-- Name: projects projects_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT projects_pkey PRIMARY KEY (id);


--
-- Name: publications publications_pkey1; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.publications
    ADD CONSTRAINT publications_pkey1 PRIMARY KEY (id);


--
-- Name: refresh_tokens refresh_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.refresh_tokens
    ADD CONSTRAINT refresh_tokens_pkey PRIMARY KEY (id);


--
-- Name: soft_skills soft_skills_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.soft_skills
    ADD CONSTRAINT soft_skills_pkey PRIMARY KEY (id);


--
-- Name: subscriptions subscriptions_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.subscriptions
    ADD CONSTRAINT subscriptions_pkey PRIMARY KEY (id);


--
-- Name: technical_skills technical_skills_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.technical_skills
    ADD CONSTRAINT technical_skills_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_slug_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_slug_key UNIQUE (slug);


--
-- Name: idx_projects_profile; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_projects_profile ON public.projects USING btree (profile_id);


--
-- Name: idx_projects_profile_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_projects_profile_id ON public.projects USING btree (profile_id);


--
-- Name: idx_publications_profile_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_publications_profile_id ON public.publications USING btree (profile_id);


--
-- Name: ix_academic_careers_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_academic_careers_id ON public.academic_careers USING btree (id);


--
-- Name: ix_audits_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_audits_id ON public.audits USING btree (id);


--
-- Name: ix_comments_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_comments_id ON public.comments USING btree (id);


--
-- Name: ix_contact_messages_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_contact_messages_id ON public.contact_messages USING btree (id);


--
-- Name: ix_media_artefacts_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_media_artefacts_id ON public.media_artefacts USING btree (id);


--
-- Name: ix_messages_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_messages_id ON public.messages USING btree (id);


--
-- Name: ix_profiles_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_profiles_id ON public.profiles USING btree (id);


--
-- Name: ix_refresh_tokens_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_refresh_tokens_id ON public.refresh_tokens USING btree (id);


--
-- Name: ix_refresh_tokens_token; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX ix_refresh_tokens_token ON public.refresh_tokens USING btree (token);


--
-- Name: ix_users_email; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX ix_users_email ON public.users USING btree (email);


--
-- Name: ix_users_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_users_id ON public.users USING btree (id);


--
-- Name: ix_users_role; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_users_role ON public.users USING btree (role);


--
-- Name: ix_users_status; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_users_status ON public.users USING btree (status);


--
-- Name: academic_careers academic_careers_profile_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.academic_careers
    ADD CONSTRAINT academic_careers_profile_id_fkey FOREIGN KEY (profile_id) REFERENCES public.profiles(id) ON DELETE CASCADE;


--
-- Name: audits audit_logs_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.audits
    ADD CONSTRAINT audit_logs_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: comments comments_project_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.comments
    ADD CONSTRAINT comments_project_id_fkey FOREIGN KEY (project_id) REFERENCES public.projects(id) ON DELETE CASCADE;


--
-- Name: comments comments_publication_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.comments
    ADD CONSTRAINT comments_publication_id_fkey FOREIGN KEY (publication_id) REFERENCES public.publications(id) ON DELETE CASCADE;


--
-- Name: comments comments_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.comments
    ADD CONSTRAINT comments_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: cours courses_profile_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.cours
    ADD CONSTRAINT courses_profile_id_fkey FOREIGN KEY (profile_id) REFERENCES public.profiles(id);


--
-- Name: degrees degrees_profile_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.degrees
    ADD CONSTRAINT degrees_profile_id_fkey FOREIGN KEY (profile_id) REFERENCES public.profiles(id) ON DELETE CASCADE;


--
-- Name: distinctions distinctions_profile_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.distinctions
    ADD CONSTRAINT distinctions_profile_id_fkey FOREIGN KEY (profile_id) REFERENCES public.profiles(id);


--
-- Name: experiences experiences_profile_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.experiences
    ADD CONSTRAINT experiences_profile_id_fkey FOREIGN KEY (profile_id) REFERENCES public.profiles(id) ON DELETE CASCADE;


--
-- Name: projects fk_projects_profile; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT fk_projects_profile FOREIGN KEY (profile_id) REFERENCES public.profiles(id);


--
-- Name: publications fk_publications_profile; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.publications
    ADD CONSTRAINT fk_publications_profile FOREIGN KEY (profile_id) REFERENCES public.profiles(id);


--
-- Name: languages languages_profile_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.languages
    ADD CONSTRAINT languages_profile_id_fkey FOREIGN KEY (profile_id) REFERENCES public.profiles(id) ON DELETE CASCADE;


--
-- Name: messages messages_profile_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_profile_id_fkey FOREIGN KEY (profile_id) REFERENCES public.profiles(id);


--
-- Name: profiles profiles_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.profiles
    ADD CONSTRAINT profiles_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: projects projects_profile_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT projects_profile_id_fkey FOREIGN KEY (profile_id) REFERENCES public.profiles(id);


--
-- Name: publications publications_profile_id_fkey1; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.publications
    ADD CONSTRAINT publications_profile_id_fkey1 FOREIGN KEY (profile_id) REFERENCES public.profiles(id);


--
-- Name: refresh_tokens refresh_tokens_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.refresh_tokens
    ADD CONSTRAINT refresh_tokens_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: soft_skills soft_skills_profile_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.soft_skills
    ADD CONSTRAINT soft_skills_profile_id_fkey FOREIGN KEY (profile_id) REFERENCES public.profiles(id) ON DELETE CASCADE;


--
-- Name: subscriptions subscriptions_profile_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.subscriptions
    ADD CONSTRAINT subscriptions_profile_id_fkey FOREIGN KEY (profile_id) REFERENCES public.profiles(id);


--
-- Name: technical_skills technical_skills_profile_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.technical_skills
    ADD CONSTRAINT technical_skills_profile_id_fkey FOREIGN KEY (profile_id) REFERENCES public.profiles(id) ON DELETE CASCADE;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: pg_database_owner
--

GRANT ALL ON SCHEMA public TO admin;


--
-- Name: TABLE publications; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.publications TO admin;


--
-- Name: SEQUENCE publications_id_seq1; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.publications_id_seq1 TO admin;


--
-- Name: DEFAULT PRIVILEGES FOR SEQUENCES; Type: DEFAULT ACL; Schema: public; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON SEQUENCES TO admin;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: public; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON TABLES TO admin;


--
-- PostgreSQL database dump complete
--

